{% extends '_base.html' %}
{% block content %}


    <div class="row mb-4">
        <div class="col-lg-10 col-md-10 mb-md-0 mb-4 offset-1">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="row">
                        <div class="col-lg-6 col-7">
                            <h6>Payments</h6>
                        </div>
                    </div>
                </div>
                <div class="card-body px-0 pb-2">
                    <div class="table-responsive">
                        <table class="table align-items-center mb-0">
                            <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Title
                                </th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                    Payment Date
                                </th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    Status
                                </th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    Total
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for payment in payments %}
                                <tr>
                                    <td>
                                        <div class="d-flex px-2 py-1">
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">{{ payment.title }}</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="align-middle text-sm">
                                        <span class="text-xs font-weight-bold"> {{ payment.date_payment }} </span>
                                    </td>
                                    <td class="align-middle text-sm">
                                        <span class="text-xs font-weight-bold">{{ payment.status }}</span>
                                    </td>
                                    <td>
                                    <td class="align-middle text-sm">
                                        <span class="text-xs font-weight-bold">{{ payment.total_payments }}</span>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a href="#myModal" data-bs-toggle="modal"><i class="fa fa-plus"
                                                               style="font-size: 25px"></i>Create new payment</a>


    <!-- modal-->


    <div id="myModal" class="modal fade bd-example-modal-sm" role="dialog"
         aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close btn-primary"
                            data-bs-dismiss="modal"></button>
                </div>


                <div class="modal-body">
                    <form action="{% url 'dashboard' %}" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </form>
                </div>
            </div>
        </div>
    </div>


    </div>
    </div>

{% endblock %}