{% extends '_base.html' %}
{% block content %}
    {% load crispy_forms_tags %}


    <div class="row mb-4">
        <div class="col-lg-10 col-md-10 mb-md-0 mb-4 offset-1">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="row">
                        <div class="col-lg-6 col-7">
                            <h6>Payments</h6>
                        </div>
                    </div>
                </div>
                <div class="card-body px-0 pb-2">
                    <div class="table-responsive">
                        <table class="table align-items-center mb-0">
                            <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Title
                                </th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                    Payment Date
                                </th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    Status
                                </th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    Total
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for payment in payments %}
                                {% if payment.employer.user.id == request.user.id %}
                                    <tr>
                                        <td>
                                            <div class="d-flex px-2 py-1">
                                                <div class="d-flex flex-column justify-content-center">
                                                    <h6 class="mb-0 text-sm">{{ payment.title }}</h6>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="align-middle text-sm">
                                            <span class="text-xs font-weight-bold"> {{ payment.date_payment }} </span>
                                        </td>

                                        <td class="align-middle text-sm">
                                            <a href="#statusModal{{ payment.id }}" data-bs-toggle="modal">
                                                {% if payment.status == 0 %}
                                                    <button type="button" class="btn btn-danger w-60 my-4 mb-2">Inactive
                                                    </button>

                                                {% elif payment.status == 1 %}
                                                    <button type="button" class="btn btn-primary w-60 my-4 mb-2">Pending
                                                    </button>

                                                {% elif payment.status == 2 %}
                                                    <button type="button" class="btn btn-success w-60 my-4 mb-2">Paid
                                                    </button>
                                                {% endif %}
                                            </a>
                                        </td>


                                        <td class="align-middle text-sm">
                                            <span class="text-xs font-weight-bold">{{ payment.total_payments }}</span>
                                        </td>
                                    </tr>
                                {% endif %}
                                <div id="statusModal{{ payment.id }}" class="modal fade bd-example-modal-sm"
                                     role="dialog"
                                     aria-labelledby="mySmallModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-sm">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="btn-close btn-primary"
                                                        data-bs-dismiss="modal"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form action="{% url 'change_payment_status' payment.id %}"
                                                      method="post">
                                                    {% csrf_token %}
                                                    <div class="form-group">

                                                        <input type="radio" name="status" id="pay"
                                                               value="2">
                                                        <label for="pay">Pay</label>
                                                        <br>
                                                        <input type="radio" name="status"
                                                               id="inactive" value="0">
                                                        <label for="inactive">Inactive</label>
                                                    </div>
                                                    <div class="text-center">
                                                        <button type="submit"
                                                                class="btn bg-gradient-primary w-100 my-4 mb-2">Save
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a href="#myModal" data-bs-toggle="modal"><i class="fa fa-plus"
                                                 style="font-size: 25px"></i>Create new payment</a>


    <!-- modal-->


    <div id="myModal" class="modal fade bd-example-modal-sm" role="dialog"
         aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close btn-primary"
                            data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'dashboard' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="title">Title:</label>
                            <input type="text" class="form-control" name="title">
                        </div>
                        <div class="form-group">
                            <label for="date_payment">Payment Date:</label>
                            <input type="date" class="form-control" name="date_payment">
                        </div>
                        {% for i in n  %}
                            <div class="form-group">
                                <label for="employee">employee:</label>
                                <select name="employee" id="employee">
                                    {% for employee in employees %}
                                    <option value="{{ employee.user.id }}">{{ employee.user.username }}</option>
                                        {% endfor %}
{#                                    <option value="saab">Saab</option>#}
{#                                    <option value="mercedes">Mercedes</option>#}
{#                                    <option value="audi">Audi</option>#}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="hour">hour:</label>
                                <input type="number" class="form-control" name="hour">
                            </div>
                            <div class="form-group">
                                <label for="hourly_wages">hourly_wages:</label>
                                <input type="number" class="form-control" name="hourly_wages">
                            </div>
                        {% endfor %}
                        <div class="text-center">
                            <button type="submit" class="btn bg-gradient-primary w-100 my-4 mb-2">Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}